header {
    height : 500px;
    width : 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c25b00;
    background-image: url("https://www.transparenttextures.com/patterns/elegant-grid.png");
    padding-top: 1em; 
} 

h2{
    margin-top: 0;
}

.light1{
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (min-width: 768px) {
    body > header {
        margin-top: 5em;
        height : 350px;
        width: 50%;  
    }
}