.new-tweet{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.new-tweet form{
    display: flex;
    flex-direction: column;
    width: 83%;
}
.label{
    padding-bottom: 5px;
    margin-bottom: 5px solid black;
    font-size: 30px;
    font-weight: bold;
  }

.btn-counter{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Bungee', cursive;
  }

.new-tweet button{
    background-color: #4056A1;
    color: #FFFFFF;
    font-family: 'Bungee', cursive;
}
counter{
    padding-right:10px;
  }
.fontRed {
    color: red;
  }
  
textarea{
    border-bottom: 5px solid black;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #F4F1EC;
   }
 .errorMsg{
    color: red;
    border: 5px solid red;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 10px; 
  }
  #error-icon{
    color:red;
    font-size: 30px;
  }

